* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("wall.jpg");
    font-family: Lato;
    font-size: 20px;
    /*color: #5D9E0F;*/
}

a {
    text-decoration: none;
    color: white;
}

h1, h3 {
    color: #5D9E0F;
    font-weight: 300;
}

p {
    color: #5D9E0F;
    font-size: 30px;
}

a {
    color: blue;
}

header {
    background-color: white;
    padding: .7em;
}

/*header nav {
    background-color: #454545;
    padding: 10px;
}*/

nav {
    color: #333;
    padding: .5em;
    margin: -15px;

}

nav a, nav {
    color: #f8f8f8;
    background-color: #444;

}

nav a {
    margin-right: 10px;
    margin-left: 10px;
}

.logo {
    margin-bottom: .7em;
    font-size: 32pt;
    font-family: lobster;
    color: #424242;
    /*padding: 10px;*/
    margin-top: .2em;
}

.logo a {
    text-decoration: none;
    color: #454545;
    padding: 5px;
}

footer {
    color: white;
    margin-left: .5em;
    padding: .3em;
}

.main_content {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: .7em;
}

.main_content h1 {
    color: #64a00c;
}

a:link {
    text-decoration: none;
}

form {
    padding: 5px;
    display: inline-block;
}
