
body {
    /*background-color: #87007F;*/
    background-color: #D6E1E7;
    font-size: 11pt;
    /*box-sizing: border-box;*/
    margin: 0;
    font-family: 'Open Sans';
}

body > div {
    margin:0 auto;
    margin-bottom: 0;
    margin-top: 0;
}

.hero {
    /*background-color: teal;*/
    background: radial-gradient(rgba(0, 164, 177, 0.6),rgba(0, 140, 163, 1)), url('bg.jpg');
    /*background-image: url('bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /*background: 100% 100%;*/
    /*position: fixed;*/
    /*height: 570px;*/
}

header {
    /*background-color: aqua;*/
    /*background-color: #78D4DC;*/
    
    /*position: relative;*/
    /*text-align: center;*/
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 0;
    /*overflow: hidden;*/
    height: 420px;
    width: 960px;
    margin: 0 auto;
    /*height: 40%;*/
}

.top_head {
    /*background-color: yellow;*/
    /*padding: 30px;*/
    /*background-color: #FFA60E;*/
    height: 115px;
    margin-top: 0;
    padding-top: 25px;
    /*margin-bottom: 185px;*/
    margin-bottom: 150px;
    margin-right: 0;
    position: relative;
    padding-bottom: 0;
}

.logo > a {
    margin-top: 0;
    padding: 0;
    font-family: Lobster;
    font-size: 3em;
    color: white;
    position: absolute;
    top:0;
    margin-left:3px;
    margin-top: 3px;
    /*background-color: orange;*/
    /*font-size: 1.1em;*/
    text-decoration: none;
    font-weight: 100;
}

.logo > a:hover {
    background-color: red;
    padding: 1px;
}

.search {
    /*background-color: white;*/
    /*background-color: blue;*/
    /*position: absolute;
    top: 8px;*/
}

form {
    /*background-color: red;*/
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    margin-right: 0;
    /*background-color: blue;*/
    color:#67C6CC;
    background-color: #038DA0;
    background-color: transparent;
    color: rgba(255,255,255,.3);
}

input:first-child {
    margin-right: 0;
    background-color: #F64E1A;
    color: rgba(255,255,255,.3);
    background-color: transparent;
    /*background-color: white;*/
    border: 1px #67C6CC solid;
    padding:2px;
    color:#67C6CC;
}

input:nth-child(2){
    background-color: #F64E1A;
    border: 1px solid #F64E1A;
    border-radius: 2px;
    color: white;
    padding: 2px;

}

nav {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    margin: 0 auto;
    padding: 15px;
    /*background-color: green;*/
    /*margin: 50px 0 0 0;*/
    text-align: center;
    border-top:1px #67C6CC solid;
    border-bottom:1px #67C6CC solid;
}

nav a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.0em;
    font-weight: 100;
    /*text-transform: uppercase;*/
}

.banner {
    /*background-color: pink;*/
    /*background-color: #FF00FD;*/
    /*padding: 2px;*/
    margin-bottom: 10px;
    display:block;
    margin-top: 30px;
} 

div > h2{
    font-weight: 300;
    color: white;
    font-size: 2.3em;
    margin-bottom: 0px;
    padding-top: 10px;
    /*padding-bottom: 1em;*/
}

.banner p {
    color: white;
    font-size: 1.1em;
    padding-bottom: 1em;
}

.banner > div {
    margin: 0 auto;
    text-align: center;
    /*margin-bottom: 20px;*/
}


/* body **************************
**********************************/

.main_content {
    
    /*background-color: white;*/
    /*background-color: blue;*/
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom:0;
    padding:0;
    width: 960px;
    margin: 0 auto;
    /*margin-top: 0;*/
}

.puppy_container {
    /*background-color: rgba(0,255,0 , .5);*/
    background-color: #D6E1E7;
    padding:2px;
    /*transform: translateY(-15px);*/
    /*height: 100px;*/
}

.puppy_container {
    /*clear:both;*/
    margin: 0 auto;
    text-align: center;
    position: relative;
    /*background-color: green;*/
    box-sizing: border-box;
}

.puppy_container > * + * {
    margin: 8px;
}

.puppy_box {
    display: inline-block;
    background-color: white;
    width:300px;
    height: 145px;
    vertical-align: top;
    /*padding: 20px;*/
    margin:5px;
    /*padding:0;*/
    transform: translateY(-20px);
    margin-bottom: 0;
    /*background-color: #00FF22;*/
    padding-bottom: 20px;
    box-shadow: 5px 5px 3px #BAC6CC;
}

.puppy_container .puppy_box:first-child {
    border-top: #F54F1A 3px solid;
}

.puppy_container .puppy_box:nth-child(2) {
    border-top: #82D046 3px solid;
}

.puppy_container .puppy_box:nth-child(3) {
    border-top: #0793D2 3px solid;
}

.puppy_box p {
    padding: 0 20px;
}


.help {
    background-color: transparent;
    color: #F54A14;
    border:#F54A14 solid 2px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    margin: 0 auto;
    right: 105px;
    margin-bottom: 5px;
}

.food {
    background-color: transparent;
    color: #86D24A;
    border:#86D24A solid 2px;
    border-radius: 5px;
    margin-bottom: 0;
    position:absolute;
    bottom: 0;
    margin: 0 auto;
    right: 103px;
    margin-bottom: 5px;
}   

.sell {
    background-color: transparent;
    color: #41ABDC;
    border:#41ABDC solid 2px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    margin: 0 auto;
    right: 80px;
    margin-bottom: 5px;
}


.lower_dogs {
    display:flex;
    margin-top: 0;
    /*border: 3px solid #BAC6CC; ;*/
    box-shadow: 5px 5px 5px 3px #BAC6CC;
    transform:translateY(-5px);
    /*height: 583px;*/
}

aside {
    order: 1;
    flex: 5;
    /*background-color: #00FF22;*/
    background-color: white;
    /*height: 500px;*/
    padding-top: 9px;
    margin-top: 0;
}

aside > div {
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    /*background-color: yellow;*/
    width: 95%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 5px;
    /*margin-top: 0;*/
}

.dog_contain {
    display: flex;
    margin-bottom: 5px;
    /*background-color: red;*/
}

.graphic_dog {
    order: 1;
    height: 84px;
    width:90px;
    flex: 2;
    /*padding: 20px;
    background-color: blue;
    margin-bottom: 5px;*/
}

.content_dog {
    order: 2;
    flex: 7;
    /*background-color: #D9EDF7;*/
    padding-left: 2px;
    margin-bottom: 3px;
    /*background-color: yellow;*/
    background-color: #E6F3F9;
}

.content_dog > p {
    padding:0;
    margin: 0;
}

.content_dog > h4 {
    padding:0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 100;
    color: #0089D4;
}

.rudy > p {
    padding-right: 20px;
}

.max > p {
    padding-right: 22px;
}

.ralf > p {
    padding-right: 0;
}

.content_dog > p:first-child {
    /*font-weight: 100;*/
    /*font-size: 1.2em;*/
    /*color: #15A5DE;*/
    font-color: black;
    font-weight: 600;
}

.dog_tiles {
    flex: 7;
    order: 2;
    background-color: blue;
    background-color: white;
    display: inline-block;
    /*margin:10px 5px;*/
    /*margin: 3px;*/
    /*margin-top: 5px;*/
    /*margin-left: 5px;*/

}

.tile:first-child {
    margin-left: 10px;
}

.tile:nth-child(4) {
    margin-left: 10px;
    transform: translateY(-9px);
}

.tile:nth-child(5) {
    transform: translateY(-9px);
}

.tile:nth-child(6) {
    transform: translateY(-9px);
}

.tile {
    /*margin: auto;*/
    width: 28%;
    display: inline-block;
    /*margin: 5px;*/
    background-color: blue;
    vertical-align: top;
    margin: 10px 3px;
    /*margin:10px 5px;*/
    /*margin-top: 10px;*/
    width:160px;

}

.tiles > div {
    padding:0;
    
    
}

.media_dog {
    /*flex: 1;
    order: 1;*/
    height: 160px;
    width: 100%;
    background-color: grey; 
}



.info_dog {
    /*order:2;
    flex: 1;*/
    /*padding: 2px;*/
    /*margin: 0px;*/
    padding: 0;
    background-color: yellow;

}

.info_dog > h4 {
    margin: 0;
    margin-top: -5px;
    padding: 0;
    /*background-color: yellow;*/
    background-color: #83D146;
    font-weight: 900;
    color: #416A1A;
    font-size: 1.2em;
    font-weight: 200;
    /*border-bottom: 2px black solid;*/
    /*font-size: 1.1em;*/
    
}

.info_dog > p {
    background-color:#E1F0D6;
    /*backgrounsd-color: yellow;*/
    /*background-color: yellow;*/
    margin:0;
    color: #435C1E;
    /*font-weight: 600;*/
    /*border-bottom: 2px black solid;*/
    /*margin-top: -3px;*/
    /*margin-bottom: 0;
    padding-bottom: 0;*/
}

/*.info_dog > p:nth-child(2) {
    background-color: #E1F0D6
    background-color: yellow;
}*/

.tiles {
    flex: 1;
}
